<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/site/css/style.css" />
</head>
<body>
    {{{body}}}
    <!--<h1>{{caption}}</h1>  
    <img src="/site/images/skimountain.jpg" alt="ski mountain">--> // we take the variable elements 
</body>
</html>






// contains all the common html layouts of the pages

the res.render first goes to the layout and then to specific handlebars(index)